::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.week {
  display: flex;  
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: flex-start;
}

.calendar {
  display: flex;
  width: fit-content;
  flex-direction: column;  
}

.App {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:90vh;
}

.panel {
  display:flex;
  flex-direction: row;
}

.calendarControl {
  display: flex;
  width: 300px;
  justify-content: space-around; 
  margin-bottom: 30px;
  align-items: center;
}

.monthName {
  font-size: 18px;
  color: rgb(70, 70, 182);
  font-weight: bold;
}

.marked {
  cursor: not-allowed !important;
}

.marked:before {
  position: absolute;
  content: '';
  background: red;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: auto;
}

.marked:after {
  position: absolute;
  content: '';
  background: red;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
}