.day {  
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;  
}

.currentDay {
  width: 50px;
  height: 50px;
  background: #7e7ed1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.week {
  display: flex;  
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: flex-start;
}

.calendar {
  display: flex;
  width: fit-content;
  flex-direction: column;  
}

.App {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.calendarControl {
  display: flex;
  width: 300px;
  justify-content: space-around; 
  margin-bottom: 30px;
  align-items: center;
}

.monthName {
  font-size: 18px;
  color: rgb(70, 70, 182);
  font-weight: bold;
}

.marked:before {
  position: absolute;
  content: '';
  background: red;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: auto;
}

.marked:after {
  position: absolute;
  content: '';
  background: red;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
}